<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/In/Write" method="post">
        <input type="text" name="line"/>
        <button>Записать</button>
    </form>
</body>
</html>